In [375]:
from matplotlib import pyplot as plt
import numpy as np
import scipy as sp
import pandas as pd
from sklearn.neural_network import MLPRegressor as mlp
from sklearn.linear_model import LinearRegression as lr
from sklearn import svm
from sklearn.tree import DecisionTreeRegressor as dtr
from sklearn.ensemble import RandomForestRegressor as rfr
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import StandardScaler, MaxAbsScaler
from sklearn.metrics import accuracy_score
ss = StandardScaler()
mas = MaxAbsScaler()

In [212]:
df = pd.read_csv('C:/Users/visha/Desktop/Datasets/hotels.csv', header = 0, index_col = None, sep = None, engine = 'python')

In [213]:
df.head(10)

,CityName,Population,CityRank,IsMetroCity,IsTouristDestination,IsWeekend,IsNewYearEve,Date,HotelName,RoomRent,StarRating,Airport,HotelAddress,HotelPincode,HotelDescription,FreeWifi,FreeBreakfast,HotelCapacity,HasSwimmingPool
0,Mumbai,12442373,0,1,1,1,0,Dec 18 2016,Vivanta by Taj,12375,5.0,21.0,"90 Cuffe Parade, Colaba, Mumbai, Maharashtra",400005,"Luxury hotel with spa, near Gateway of India",1,0,287,1
1,Mumbai,12442373,0,1,1,0,0,Dec 21 2016,Vivanta by Taj,10250,5.0,21.0,"91 Cuffe Parade, Colaba, Mumbai, Maharashtra",400006,"Luxury hotel with spa, near Gateway of India",1,0,287,1
2,Mumbai,12442373,0,1,1,1,0,Dec 24 2016,Vivanta by Taj,9900,5.0,21.0,"92 Cuffe Parade, Colaba, Mumbai, Maharashtra",400007,"Luxury hotel with spa, near Gateway of India",1,0,287,1
3,Mumbai,12442373,0,1,1,1,0,Dec 25 2016,Vivanta by Taj,10350,5.0,21.0,"93 Cuffe Parade, Colaba, Mumbai, Maharashtra",400008,"Luxury hotel with spa, near Gateway of India",1,0,287,1
4,Mumbai,12442373,0,1,1,0,0,Dec 28 2016,Vivanta by Taj,12000,5.0,21.0,"94 Cuffe Parade, Colaba, Mumbai, Maharashtra",400009,"Luxury hotel with spa, near Gateway of India",1,0,287,1
5,Mumbai,12442373,0,1,1,1,1,Dec 31 2016,Vivanta by Taj,11475,5.0,21.0,"95 Cuffe Parade, Colaba, Mumbai, Maharashtra",400010,"Luxury hotel with spa, near Gateway of India",1,0,287,1
6,Mumbai,12442373,0,1,1,0,0,Jan 04 2017,Vivanta by Taj,11220,5.0,21.0,"96 Cuffe Parade, Colaba, Mumbai, Maharashtra",400011,"Luxury hotel with spa, near Gateway of India",1,0,287,1
7,Mumbai,12442373,0,1,1,1,0,Jan 08 2017,Vivanta by Taj,9225,5.0,21.0,"97 Cuffe Parade, Colaba, Mumbai, Maharashtra",400012,"Luxury hotel with spa, near Gateway of India",1,0,287,1
8,Mumbai,12442373,0,1,1,1,0,Dec 18 2016,The Gordon House Hotel,6800,4.0,20.0,"5 Battery, Apollo Bunder, Colaba, Mumbai, Maha...",400039,"Luxury hotel with 2 restaurants, near Gateway ...",1,1,28,0
9,Mumbai,12442373,0,1,1,0,0,Dec 21 2016,The Gordon House Hotel,9350,4.0,20.0,"6 Battery, Apollo Bunder, Colaba, Mumbai, Maha...",400040,"Luxury hotel with 2 restaurants, near Gateway ...",1,1,28,0

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13232 entries, 0 to 13231
Data columns (total 19 columns):
CityName                13232 non-null object
Population              13232 non-null int64
CityRank                13232 non-null int64
IsMetroCity             13232 non-null int64
IsTouristDestination    13232 non-null int64
IsWeekend               13232 non-null int64
IsNewYearEve            13232 non-null int64
Date                    13232 non-null object
HotelName               13232 non-null object
RoomRent                13232 non-null int64
StarRating              13232 non-null float64
Airport                 13232 non-null float64
HotelAddress            13232 non-null object
HotelPincode            13232 non-null int64
HotelDescription        13224 non-null object
FreeWifi                13232 non-null int64
FreeBreakfast           13232 non-null int64
HotelCapacity           13232 non-null int64
HasSwimmingPool         13232 non-null int64
dtypes: float64(2), int64(12), object(5)
memory usage: 1.9+ MB

In [215]:
df.columns

Index(['CityName', 'Population', 'CityRank', 'IsMetroCity',
       'IsTouristDestination', 'IsWeekend', 'IsNewYearEve', 'Date',
       'HotelName', 'RoomRent', 'StarRating', 'Airport', 'HotelAddress',
       'HotelPincode', 'HotelDescription', 'FreeWifi', 'FreeBreakfast',
       'HotelCapacity', 'HasSwimmingPool'],
      dtype='object')

In [216]:
df_hotels = df.groupby('CityName')['HotelName'].nunique()

In [217]:
df_hotels

CityName
Agra                 54
Ahmedabad            53
Amritsar             16
Bangalore            87
Bhubaneswar          15
Chandigarh           46
Chennai              51
Darjeeling           17
Delhi               272
Gangtok              16
Goa                  78
Guwahati              6
Haridwar              6
Hyderabad            69
Indore               20
Jaipur               95
Jaisalmer            33
Jodhpur              27
Kanpur                2
Kochi                75
Kolkata              90
Lucknow              17
Madurai              11
Manali               36
Mangalore            10
Mumbai               62
Munnar               41
Mysore               20
Nainital             18
Ooty                 17
Panchkula            29
Pune                 75
Puri                  7
Rajkot               16
Rishikesh            11
Shimla               35
Srinagar              5
Surat                10
Thiruvanthipuram     47
Thrissur             11
Udaipur              57
Varanasi             31
Name: HotelName, dtype: int64

In [218]:
df[df['CityName'] == 'Mumbai']['HotelName'].value_counts()

The Gordon House Hotel                                24
Grand Hometel Malad                                   16
Hotel Landmark Annexe                                 16
Hotel Sai Palace Grand Malad                          16
Taj Lands End                                         16
HOTEL A. K. INTERNATIONAL                             16
OYO Rooms Vashi APMC Market                           16
Fortune Select Exotica Navi Mumbai                    16
Hotel Suncity Apollo                                  16
FabHotel Golden Park Jogeshwari West                  16
Grand Sarovar Premiere                                16
Hotel Victoria                                        16
Hotel Suba Palace                                     16
Fabhotel Crawford Inn                                 16
The E Hotel At Eskay Resorts                          16
The Regenza by Tunga                                  16
Treebo Garden                                         16
Bentleys Hotel Colaba                                 16
Residency Sarovar Portico                             16
Vivanta by Taj                                        16
Royal Orchid Central Grazia                           16
Hotel Godwin                                          16
The Fern Goregaon                                     16
Hotel City Palace                                     16
Diplomat Hotel                                        16
Four Seasons Hotel Mumbai                             16
Fariyas Hotel                                          8
Renaissance Mumbai Convention Centre Hotel             8
Sofitel Mumbai BKC                                     8
Sea Palace Hotel                                       8
                                                      ..
Hotel Shubhangan                                       8
Suba Galaxy                                            8
Lalco Residency                                        8
Hotel Manama                                           8
The Retreat Hotel & Convention Centre                  8
Grand Residency Hotel & Serviced Apartments            8
Ramada Powai Hotel And Convention Centre               8
Hotel Grace Residency                                  8
Hotel Orritel West                                     8
Svenska Design Hotel, Mumbai                           8
Hotel Regal Enclave                                    8
Grand Hotel                                            8
Boutique Hotel Bawa Suites                             8
The Taj Mahal Palace                                   8
Hotel Supreme                                          8
The Resort                                             8
Hotel Suncity Premiere                                 8
Taj Santacruz                                          8
Courtyard by Marriott Mumbai International Airport     8
OYO Rooms Goregaon East Station                        8
The Mirador                                            8
Oriental Residency Hotel                               8
The Taj Mahal Palace Mumbai                            8
The Paradise by Tunga                                  8
Chateau Windsor Hotel                                  8
Ramee Guestline Hotel Khar                             8
OYO Rooms Malad                                        8
Treebo Metropolis                                      8
Executive Enclave                                      8
Trident Bandra Kurla Mumbai                            8
Name: HotelName, dtype: int64

In [219]:
dfh = df[df['CityName'] == 'Mumbai']
dfh1 = dfh[dfh['HotelName'] == 'Vivanta by Taj']

In [220]:
df['CityRank'].max(), df['CityRank'].min()

(44, 0)

In [221]:
dfh1[dfh1['Date'] == 'Jan 04 2017']

,CityName,Population,CityRank,IsMetroCity,IsTouristDestination,IsWeekend,IsNewYearEve,Date,HotelName,RoomRent,StarRating,Airport,HotelAddress,HotelPincode,HotelDescription,FreeWifi,FreeBreakfast,HotelCapacity,HasSwimmingPool
6,Mumbai,12442373,0,1,1,0,0,Jan 04 2017,Vivanta by Taj,11220,5.0,21.0,"96 Cuffe Parade, Colaba, Mumbai, Maharashtra",400011,"Luxury hotel with spa, near Gateway of India",1,0,287,1
550,Mumbai,12442373,0,1,1,0,0,Jan 04 2017,Vivanta by Taj,11475,5.0,21.0,"96 Cuffe Parade, Colaba, Mumbai, Maharashtra",400005,Luxury hotel with spa,1,1,287,1

In [222]:
df2 = pd.crosstab([df3.HotelName, df3.IsWeekend, df3.IsNewYearEve, df3.Airport, df3.Date, df3.RoomRent], [df3.StarRating], margins = 1)
df2

StarRating                                                                                              2.0  \
HotelName                                          IsWeekend IsNewYearEve Airport Date        RoomRent
Bentleys Hotel Colaba                              0         0            20.0    Dec 21 2016 2700        0
                                                                                  Dec 28 2016 2200        0
                                                                                  Jan 04 2017 2700        0
                                                   1         0            20.0    Dec 18 2016 2200        0
                                                                                              2700        0
                                                                                  Dec 24 2016 2700        0
                                                                                              3000        0
                                                                                  Dec 25 2016 2700        0
                                                                                              3000        0
                                                                                  Jan 08 2017 2700        0
                                                             1            20.0    Dec 31 2016 2200        0
Boutique Hotel Bawa Suites                         0         0            5.0     Dec 21 2016 4500        0
                                                                                  Dec 28 2016 4500        0
                                                                                  Jan 04 2017 4500        0
                                                   1         0            5.0     Dec 18 2016 6500        0
                                                                                  Dec 24 2016 4250        0
                                                                                  Dec 25 2016 4500        0
                                                                                  Jan 08 2017 4500        0
                                                             1            5.0     Dec 31 2016 6500        0
Chateau Windsor Hotel                              0         0            19.0    Dec 21 2016 5250        0
                                                                                  Dec 28 2016 5750        0
                                                                                  Jan 04 2017 5250        0
                                                   1         0            19.0    Dec 18 2016 5250        0
                                                                                  Dec 24 2016 5750        0
                                                                                  Dec 25 2016 5750        0
                                                                                  Jan 08 2017 5250        0
                                                             1            19.0    Dec 31 2016 5750        0
Courtyard by Marriott Mumbai International Airport 0         0            2.5     Dec 21 2016 7830        0
                                                                                  Dec 28 2016 6460        0
                                                                                  Jan 04 2017 8560        0
...                                                                                                     ...
Treebo Garden                                      1         1            20.0    Dec 31 2016 7499        0
Treebo Metropolis                                  0         0            2.7     Dec 21 2016 3983        0
                                                                                  Dec 28 2016 3983        0
                                                                                  Jan 04 2017 4285        0
                                                   1         0            2.7     Dec 18 2016 3983        0
                                                                                  Dec 24 2016 3983        0
                                                                                  Dec 25 2016 3983        0
                                                                                  Jan 08 2017 4285        0
                                                             1            2.7     Dec 31 2016 4285        0
Trident Bandra Kurla Mumbai                        0         0            3.1     Dec 21 2016 8000        0
                                                                                  Dec 28 2016 8000        0
                                                                                  Jan 04 2017 9500        0
                                                   1         0            3.1     Dec 18 2016 9450        0
                                                                                  Dec 24 2016 8000        0
                                                                                  Dec 25 2016 8000        0
                                                                                  Jan 08 2017 11500       0
                                                             1            3.1     Dec 31 2016 9500        0
Vivanta by Taj                                     0         0            21.0    Dec 21 2016 10250       0
                                                                                  Dec 28 2016 12000       0
                                                                                  Jan 04 2017 11220       0
                                                                                              11475       0
                                                   1         0            21.0    Dec 18 2016 10800       0
                                                                                              12375       0
                                                                                  Dec 24 2016 9900        0
                                                                                  Dec 25 2016 10350       0
                                                                                  Jan 08 2017 9225        0
                                                                                              11220       0
                                                             1            21.0    Dec 31 2016 11037       0
                                                                                              11475       0
All                                                                                                      24

StarRating                                                                                              2.5  \
HotelName                                          IsWeekend IsNewYearEve Airport Date        RoomRent
Bentleys Hotel Colaba                              0         0            20.0    Dec 21 2016 2700        0
                                                                                  Dec 28 2016 2200        0
                                                                                  Jan 04 2017 2700        0
                                                   1         0            20.0    Dec 18 2016 2200        0
                                                                                              2700        0
                                                                                  Dec 24 2016 2700        0
                                                                                              3000        0
                                                                                  Dec 25 2016 2700        0
                                                                                              3000        0
                                                                                  Jan 08 2017 2700        0
                                                             1            20.0    Dec 31 2016 2200        0
Boutique Hotel Bawa Suites                         0         0            5.0     Dec 21 2016 4500        0
                                                                                  Dec 28 2016 4500        0
                                                                                  Jan 04 2017 4500        0
                                                   1         0            5.0     Dec 18 2016 6500        0
                                                                                  Dec 24 2016 4250        0
                                                                                  Dec 25 2016 4500        0
                                                                                  Jan 08 2017 4500        0
                                                             1            5.0     Dec 31 2016 6500        0
Chateau Windsor Hotel                              0         0            19.0    Dec 21 2016 5250        0
                                                                                  Dec 28 2016 5750        0
                                                                                  Jan 04 2017 5250        0
                                                   1         0            19.0    Dec 18 2016 5250        0
                                                                                  Dec 24 2016 5750        0
                                                                                  Dec 25 2016 5750        0
                                                                                  Jan 08 2017 5250        0
                                                             1            19.0    Dec 31 2016 5750        0
Courtyard by Marriott Mumbai International Airport 0         0            2.5     Dec 21 2016 7830        0
                                                                                  Dec 28 2016 6460        0
                                                                                  Jan 04 2017 8560        0
...                                                                                                     ...
Treebo Garden                                      1         1            20.0    Dec 31 2016 7499        0
Treebo Metropolis                                  0         0            2.7     Dec 21 2016 3983        0
                                                                                  Dec 28 2016 3983        0
                                                                                  Jan 04 2017 4285        0
                                                   1         0            2.7     Dec 18 2016 3983        0
                                                                                  Dec 24 2016 3983        0
                                                                                  Dec 25 2016 3983        0
                                                                                  Jan 08 2017 4285        0
                                                             1            2.7     Dec 31 2016 4285        0
Trident Bandra Kurla Mumbai                        0         0            3.1     Dec 21 2016 8000        0
                                                                                  Dec 28 2016 8000        0
                                                                                  Jan 04 2017 9500        0
                                                   1         0            3.1     Dec 18 2016 9450        0
                                                                                  Dec 24 2016 8000        0
                                                                                  Dec 25 2016 8000        0
                                                                                  Jan 08 2017 11500       0
                                                             1            3.1     Dec 31 2016 9500        0
Vivanta by Taj                                     0         0            21.0    Dec 21 2016 10250       0
                                                                                  Dec 28 2016 12000       0
                                                                                  Jan 04 2017 11220       0
                                                                                              11475       0
                                                   1         0            21.0    Dec 18 2016 10800       0
                                                                                              12375       0
                                                                                  Dec 24 2016 9900        0
                                                                                  Dec 25 2016 10350       0
                                                                                  Jan 08 2017 9225        0
                                                                                              11220       0
                                                             1            21.0    Dec 31 2016 11037       0
                                                                                              11475       0
All                                                                                                      32

StarRating                                                                                              3.0  \
HotelName                                          IsWeekend IsNewYearEve Airport Date        RoomRent
Bentleys Hotel Colaba                              0         0            20.0    Dec 21 2016 2700        2
                                                                                  Dec 28 2016 2200        2
                                                                                  Jan 04 2017 2700        2
                                                   1         0            20.0    Dec 18 2016 2200        1
                                                                                              2700        1
                                                                                  Dec 24 2016 2700        1
                                                                                              3000        1
                                                                                  Dec 25 2016 2700        1
                                                                                              3000        1
                                                                                  Jan 08 2017 2700        2
                                                             1            20.0    Dec 31 2016 2200        2
Boutique Hotel Bawa Suites                         0         0            5.0     Dec 21 2016 4500        1
                                                                                  Dec 28 2016 4500        1
                                                                                  Jan 04 2017 4500        1
                                                   1         0            5.0     Dec 18 2016 6500        1
                                                                                  Dec 24 2016 4250        1
                                                                                  Dec 25 2016 4500        1
                                                                                  Jan 08 2017 4500        1
                                                             1            5.0     Dec 31 2016 6500        1
Chateau Windsor Hotel                              0         0            19.0    Dec 21 2016 5250        1
                                                                                  Dec 28 2016 5750        1
                                                                                  Jan 04 2017 5250        1
                                                   1         0            19.0    Dec 18 2016 5250        1
                                                                                  Dec 24 2016 5750        1
                                                                                  Dec 25 2016 5750        1
                                                                                  Jan 08 2017 5250        1
                                                             1            19.0    Dec 31 2016 5750        1
Courtyard by Marriott Mumbai International Airport 0         0            2.5     Dec 21 2016 7830        0
                                                                                  Dec 28 2016 6460        0
                                                                                  Jan 04 2017 8560        0
...                                                                                                     ...
Treebo Garden                                      1         1            20.0    Dec 31 2016 7499        1
Treebo Metropolis                                  0         0            2.7     Dec 21 2016 3983        0
                                                                                  Dec 28 2016 3983        0
                                                                                  Jan 04 2017 4285        0
                                                   1         0            2.7     Dec 18 2016 3983        0
                                                                                  Dec 24 2016 3983        0
                                                                                  Dec 25 2016 3983        0
                                                                                  Jan 08 2017 4285        0
                                                             1            2.7     Dec 31 2016 4285        0
Trident Bandra Kurla Mumbai                        0         0            3.1     Dec 21 2016 8000        0
                                                                                  Dec 28 2016 8000        0
                                                                                  Jan 04 2017 9500        0
                                                   1         0            3.1     Dec 18 2016 9450        0
                                                                                  Dec 24 2016 8000        0
                                                                                  Dec 25 2016 8000        0
                                                                                  Jan 08 2017 11500       0
                                                             1            3.1     Dec 31 2016 9500        0
Vivanta by Taj                                     0         0            21.0    Dec 21 2016 10250       0
                                                                                  Dec 28 2016 12000       0
                                                                                  Jan 04 2017 11220       0
                                                                                              11475       0
                                                   1         0            21.0    Dec 18 2016 10800       0
                                                                                              12375       0
                                                                                  Dec 24 2016 9900        0
                                                                                  Dec 25 2016 10350       0
                                                                                  Jan 08 2017 9225        0

In [223]:
df1 = df.groupby(['CityName' , 'HotelName', 'IsWeekend', 'IsNewYearEve', 'Date'])
df1['RoomRent'].value_counts()

CityName  HotelName                           IsWeekend  IsNewYearEve  Date         RoomRent
Agra      ADB Rooms The Light House Agra      0          0             Dec 21 2016  2425        1
                                                                       Dec 28 2016  2425        1
                                                                       Jan 04 2017  2852        1
                                              1          0             Dec 18 2016  2425        1
                                                                       Dec 24 2016  2425        1
                                                                       Dec 25 2016  2425        1
                                                                       Jan 08 2017  2852        1
                                                         1             Dec 31 2016  2425        1
          Agra Regal Vista A sterling Resort  0          0             Dec 21 2016  3329        1
                                                                       Dec 28 2016  6299        1
                                                                       Jan 04 2017  3959        1
                                              1          0             Dec 18 2016  3599        1
                                                                       Dec 24 2016  6299        1
                                                                       Dec 25 2016  5399        1
                                                                       Jan 08 2017  4319        1
                                                         1             Dec 31 2016  6299        1
          Backpacker Panda Friends - Agra     0          0             Dec 21 2016  299         1
                                                                       Dec 28 2016  349         1
                                                                       Jan 04 2017  349         1
                                              1          0             Dec 18 2016  299         1
                                                                       Dec 24 2016  349         1
                                                                       Dec 25 2016  349         1
                                                                       Jan 08 2017  349         1
                                                         1             Dec 31 2016  349         1
          Courtyard by Marriott Agra          0          0             Dec 21 2016  6000        1
                                                                       Dec 28 2016  8000        1
                                                                       Jan 04 2017  6500        1
                                              1          0             Dec 18 2016  6000        1
                                                                       Dec 24 2016  9100        1
                                                                       Dec 25 2016  8000        1
                                                                                               ..
Varanasi  Rivatas                             1          0             Dec 18 2016  8999        1
                                                                       Dec 24 2016  6499        1
                                                                       Dec 25 2016  6499        1
                                                                       Jan 08 2017  7999        1
                                                         1             Dec 31 2016  6499        1
          Suryauday Haveli                    0          0             Dec 21 2016  13500       1
                                                                                    15500       1
                                                                       Dec 28 2016  15500       2
                                                                       Jan 04 2017  15500       2
                                              1          0             Dec 18 2016  13500       2
                                                                       Dec 24 2016  15500       2
                                                                       Dec 25 2016  15500       2
                                                                       Jan 08 2017  13500       2
                                                         1             Dec 31 2016  15500       2
          Taj Nadesar Palace                  0          0             Dec 21 2016  75000       1
                                                                       Dec 28 2016  55000       1
                                                                       Jan 04 2017  55000       1
                                              1          0             Dec 18 2016  75000       1
                                                                       Dec 24 2016  55000       1
                                                                       Dec 25 2016  75000       1
                                                                       Jan 08 2017  75000       1
                                                         1             Dec 31 2016  55000       1
          The Gateway Hotel Ganges            0          0             Dec 21 2016  9200        1
                                                                       Dec 28 2016  11500       1
                                                                       Jan 04 2017  14500       1
                                              1          0             Dec 18 2016  11500       1
                                                                       Dec 24 2016  11500       1
                                                                       Dec 25 2016  11500       1
                                                                       Jan 08 2017  9660        1
                                                         1             Dec 31 2016  11500       1
Name: RoomRent, dtype: int64

In [224]:
df3 = df[df['CityName'] == 'Mumbai']

In [225]:
hotel, count = np.unique(df.iloc[7224:7665,8].values, return_counts = 1)
np.asarray((hotel, count)).T

array([['ADB Rooms The Light House Agra', 8],
       ['Agra Regal Vista A sterling Resort', 8],
       ['Backpacker Panda Friends - Agra', 8],
       ['Courtyard by Marriott Agra', 8],
       ['Crystal Sarovar Premiere Agra', 8],
       ['Double Tree by Hilton agra', 8],
       ['G Hotel', 8],
       ['Hotel Aditya Palace', 8],
       ['Hotel Aicon Palace', 8],
       ['Hotel Alleviate', 8],
       ['Hotel Atulyaa Taj', 8],
       ['Hotel Aura Mumtaz Mahal', 8],
       ['Hotel Bhoomi Residency', 8],
       ['Hotel Clarks Shiraz', 8],
       ['Hotel Crystal Inn', 8],
       ['Hotel Crystal Retreat', 8],
       ['Hotel Dasaprakash', 8],
       ['Hotel Deviram palace', 8],
       ['Hotel Grace Agra', 8],
       ['Hotel Idea Inn', 8],
       ['Hotel Karan Vilas', 8],
       ['Hotel Love Kush', 8],
       ['Hotel Madhushrie', 8],
       ['Hotel Royale Residency', 8],
       ['Hotel Seven Hills Tower', 8],
       ['Hotel Taj Heights', 8],
       ['Hotel Taj Plaza', 8],
       ['Hotel Taj Prince', 8],
       ['Hotel Taj Resorts', 8],
       ['Howard Plaza The Fern', 8],
       ['Jaypee Palace Hotel', 8],
       ['Madhu Resorts', 8],
       ['Mango Hotels, Agra-Sikandra', 8],
       ['Mansingh Palace', 8],
       ['Maya Hotel & Restaurant', 8],
       ['OYO Room MG Road Rakabganj Agra', 8],
       ['OYO Rooms Madurai Periyar Bus Stand', 8],
       ['OYO Rooms Meenakshi Amman Temple', 1],
       ['OYO Rooms Taj Mahal East Gate', 8],
       ['Optimum Tara Palace', 8],
       ['Orient Taj Hotels And Resorts', 8],
       ['P L Palace Lords Inn Agra', 8],
       ['Pyrenees Homestay', 8],
       ['Radisson Blue Hotel Agra Taj East Gate Road', 8],
       ['Ramada Plaza Agra', 8],
       ['Ray Of Maya Retreat and Resorts', 8],
       ['Rudra Vilas Agra', 8],
       ['Siris 18', 8],
       ['Taj Villa', 8],
       ['The Gateway Hotel Fatehabad RoadTop Hotel', 8],
       ['The Grand Imperial Heritage Hotel', 8],
       ['The Oberoi Amarvilas', 8],
       ['The Retreat', 8],
       ['Treebo Rigel Inn', 8],
       ['Treebo White Inn', 8],
       ['Trident, Agra', 8]], dtype=object)

In [226]:
df_hotels.max(), df_hotels.min()

(272, 2)

In [246]:
X = df[['CityName', 'CityRank', 'IsMetroCity', 'IsTouristDestination', 'IsWeekend', 'IsNewYearEve', 'StarRating','Airport']]
y = df.RoomRent

In [247]:
X = 44 - X.iloc[:,1]

In [389]:
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.30, random_state = 1)

In [363]:
X_train1 = mas.fit_transform(X_train.reshape(-1,1))
X_test1 = mas.fit_transform(X_test.reshape(-1,1))

In [390]:
y_train.shape

(9262,)

In [391]:
clf = mlp(solver = 'sgd', activation = 'logistic', random_state = 1)

In [392]:
clf.fit(X_train.reshape(-1,1), y_train)

MLPRegressor(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='sgd', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [398]:
pred = np.array(clf.predict(X_test.reshape(-1,1)))
act = np.array(y_test)
dev = 0
for i in range(len(act)):
    dev += abs(pred[i] - act[i])
    error =diff/len(act)
error

3045.5455523316054

In [371]:
clf1 = rfr(n_estimators = 300, max_depth = 9, max_features = 0.67, random_state = 1)

In [372]:
clf1.fit(X_train1, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=9,
           max_features=0.67, max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=1,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

In [395]:
clf2 = lr(normalize = 1)

In [397]:
clf2.fit(X_train.reshape(-1,1), y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=1)

In [ ]:
clf